{% load bootstrap3 %} {# Load CSS and JavaScript #} {% bootstrap_css %} {% bootstrap_javascript %}

<html lang="en">

<head>
    <title>NAVBAR</title>
    <meta charset="utf-8">

</head>

<body style="background: #cce5ff ">

    <nav class="text-center""navbar navbar-default" style="background:#4A6DAF">
        <div class="container-fluid">
            <div class="navbar-header">
                <a style="color:#FFFFFF" class="navbar-brand" href="#">MHAP</a>
            </div>
            <ul class="nav navbar-nav" >
                <li><a style="color:#FFFFFF" href="http://127.0.0.1:8000/mhap">Home</a></li>
                <li><a style="color:#FFFFFF" href="http://127.0.0.1:8000/login">Login</a></li>
                <li><a style="color:#FFFFFF" href="http://127.0.0.1:8000/mhap/create">Create</a></li>
                <li><a style="color:#FFFFFF" href="http://127.0.0.1:8000/mhap/list">Blog</a></li>
                <li><a style="color:#FFFFFF" href="http://127.0.0.1:8000/mhap/settings/">Settings</a></li>
                <li><a style="color:#FFFFFF" href="http://127.0.0.1:8000/mhap/settings/password">Password</a></li>
            </ul>
        </div>
    </nav>