{% load bootstrap3 %} {# Load CSS and JavaScript #} {% bootstrap_css %} {% bootstrap_javascript %} {# Display django.contrib.messages as Bootstrap alerts #} {% bootstrap_messages %}

<html lang="en">

<head>
    <title>NAVBAR</title>
    <meta charset="utf-8">

</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MHAP</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="http://127.0.0.1:8000/mhap">Home</a></li>
                <li><a href="http://127.0.0.1:8000/login">Login</a></li>
                <li><a href="http://127.0.0.1:8000/mhap/create">Create</a></li>
                <li><a href="http://127.0.0.1:8000/mhap/list">Blog</a></li>
                <li><a href="http://127.0.0.1:8000/mhap/settings/">Settings</a></li>
                <li><a href="http://127.0.0.1:8000/mhap/settings/password">Password</a></li>
            </ul>
        </div>
    </nav>