{% extends "base.html" %} {% block head_title %} {{ instance.title }} | {{ block.super }} {% endblock head_title %} {% block content %}

<div class="container">
    <div class="text-center">
        <header><h1>{{ instance.title }}</h1></header>
        <p>{{ instance.content }}</p>
        <h6>Created {{ instance.created }}<br/>
            Last updated {{ instance.updated }}<br/>
            Sentiment: {{ instance.sentiment }}<br/>
            Seems depressed: {{ instance.seems_depressed }}<br/>
            Seems suicidal: {{ instance.seems_suicidal }}<br/>
            Secret: {{ instance.secret }}</h6>
    </div>
</div>
{% endblock content %}
